DEPLOYMENT_ACCOUNT_ADDRESS=0x...
DEPLOYMENT_ACCOUNT_PRIVATE_KEY=...
DEPLOYMENT_GAS_LIMIT=4000000
DEPLOYMENT_GAS_PRICE=10
GET_RECEIPT_INTERVAL_IN_MILLISECONDS=3000

RPC_URL=https://kovan.infura.io/mew


LCT_NAME="Local Currency Token Myanmar"
LCT_SYMBOL="LCT.MMK"

WHITELIST_ADDRESS=0x0000000000000000000000000000000000000007
EXCHANGE_ADDRESS=0x0000000000000000000000000000000000000008